#title {
    text-align: center;
}

.foods {
    columns: 2;
    width: 100px;
    height: 100px;
    background-color: #eff3ff;;
    color: white;
    border: 2px solid #000;
    padding: 15px;
    overflow-y: auto;
}

#plate {
    position: relative;
    background-color: #e4e4e4;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px #000;
    padding: 30px;
    margin: 20px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    overflow-y: scroll;
  }
  
#plate img {
    position: relative;
    max-height: 50px;
    max-width: 50px
}

#mouseoverInfo {
    text-align: center;
    font-size: 12px;
    line-height: 2px
}

.h3 {
    text-decoration: underline
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#achievement-image {
    width: 400px;
    height: 300px;
    text-align: center
}
.container-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foodFormContainer{
    text-align: center
}